* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(../img/Icon/IMG-20240315-WA0006.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}


.toolbar {
    width: 96%;
    height: 80px;
    position: relative;
    margin: 2%;
    margin-top: 5px;
    padding-left: 2px;
    padding-right: 5px;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    width: 55px;
    height: 55px;
    margin: 1%;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /* Agregado para indicar que es clickeable */
    background: url(../img/Icon/menu.png);
    background-size: cover;
}

/* Se elimina la clase .menu-button ya que no es necesaria */

.dropdown {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    /* Asegura que el menú desplegable aparezca debajo del botón .menu */
    left: 0;
    /* Alinea el menú desplegable con el borde izquierdo del botón .menu */
    top: 0;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}


.botonera {
    width: 30%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.boton_toolbar1,
.boton_toolbar2,
.boton_toolbar3,
.boton_toolbar4,
.boton_iniciar,
.usuario {
    height: 80%;
    margin: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.705);
    display: flex;
    align-items: center;
}

.boton_toolbar1,
.boton_toolbar2,
.boton_toolbar3,
.boton_toolbar4 {
    width: 60px;
}

.boton_toolbar1 {
    position: relative;
    background: url(../img/Icon/buscar.png);
    background-size: cover;
    background-color: white;
}


.boton_toolbar2 {
    background: url(../img/icon/inicio.png);
    background-size: cover;
    background-color: white;
}

.boton_toolbar3 {
    background: url(../img/icon/bolsa.png);
    background-size: cover;
    background-color: white;
}

.boton_toolbar4 {
    background: url(../img/icon/busqueda.png);
    background-size: cover;
    background-color: white;
}

.usuario {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.boton_iniciar {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

.Titulo{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.ContainerBolsa{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 40px;
    margin-top: 10px;
    min-height: 100vh;
    flex-direction: column;
}

.ContainerProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff94;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
    max-width: 1000px;
    box-sizing: border-box;
    padding-top: 8px;
    border-radius: 3px;
}

.Producto {
    background-color: #ffffff;
    width: 93%;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-right: 4px;
    margin-top: 5px;
    padding-left: 4px;
    border: 1px solid black;
    border-radius: 3px;
}

.img{
    background-color: #ffffff;
    background: url(../img/Icon/IMG-20240315-WA0011.jpg);
    background-size: cover;
    background-position: center;
    height: 95%;
    width: 20%;
    border-radius: 3px;
}

.Descripcion{
    background-color: rgb(255, 255, 255);
    height: 95%;
    width: 79%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Texto{
    width: 75%;
    margin-left: 8px;
}

.Eliminar{
    background-color: #133ABF;
    width: 55px;
    height: 50%;
    border-radius: 60%;
    display: flex;
    margin-right: 10px;
    margin-left: 15px;
    background: url(../img/Icon/eliminar.png);
    background-size: cover;
    background-position: center;
}

.Eliminar:hover{
    box-shadow: 0px 0px 20px #010364af;
}

.Total{
    background-color: #ffffff;
    height: 40px;
    width: 75%;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
}

.Precio{
    color: black;
    font-size: 20px;
    padding-right: 20px;
}

.BotonPagar{
    background-color:blue;
    height: 46px;
    width: 25%;
    color:white;
    font-size: 30px;
    margin-top: 10px;
    margin: 10px auto 0; /* Centra verticalmente y en los lados */
    display: block;
    border-radius: 5px;
    background-image: linear-gradient(to top, blue, #133ABF, #1882FF,  #7A96F9 );
    border: none;
    font-family: 'Times New Roman', Times, serif
}

.BotonPagar:hover{
    box-shadow: 0px 5px 20px white;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-10%);
    }
}

.barraBusqueda {
    position: absolute;
    top: 0px;
    right: 80%;
    /* Ajusta según sea necesario para alinear con la imagen */
    width: 200px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    /* Aplica la animación */
}

