* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(../img/Icon/IMG-20240315-WA0006.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.ContainerHamburguesas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 40px 3%;
    background-color: #12054183;
    min-height: 100vh;
}

.Cuadro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff91;
    border-radius: 10px;
    width: calc(98% - 10px);
    margin-bottom: 20px;
    overflow: hidden;
}

.Cuadro:hover {
    box-shadow: 0px 0px 20px #ffffff;
}

.img {
    background-image: url(../img/Productos/hamburguesa.jpg);
    background-color: #ffffff;
    background-size: cover; /* Añadimos esta propiedad para asegurar que la imagen se ajuste correctamente */
    background-position: center; /* Centramos la imagen */
    border-radius: 10px;
    width: 25%; /* Podrías ajustar este valor según tus necesidades */
}

.Calificador {
    background-color: #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
}

.Calificador {
    background-color: #000000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 200px; /* Puedes ajustar este valor según sea necesario */
}

p {
    margin-bottom: 20px;
}

.estrella {
    cursor: pointer;
}

.estrella:hover,
.estrella.activa {
    color: gold;
}

.Detalle {
    background-color: white;
    border-radius: 10px;
    word-wrap: break-word;
    flex-direction: column;
    width: calc(75% - 10px);
    padding: 8px;
}

.botones {
    display: flex;
    align-items: center;
    width: calc(100% - 140px);
    position: sticky;
    bottom: 0;
}

.botones label {
    margin-right: 10px; /* Espacio entre el label y el input */
}

/* Estilos para el input de cantidad */
.botones input[type="number"] {
    width: 50px; /* Ancho del input */
    padding: 5px; /* Espacio interno dentro del input */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados del input */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}


button {
    background-color: #000000;
    color: #ffffff;
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: 10px;
}
