

html, body {
  background-image: url(../img/Icon/IMG-20240315-WA0006.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.toolbar {
  width: 96%;
  height: 80px;
  position: relative;
  margin: 2%;
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 5px;
  border-radius: 5px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.menu {
  width: 55px;
  height: 55px;
  margin: 1%;
  border-radius: 5px;
  background: url(../img/Icon/menu.png);
  background-size: cover;
  padding: 3px;
  color: white;
  display: flex;
  justify-content: center;
}

.botonera {
  width: 30%;
  height: 70px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}


.boton_toolbar1, .boton_toolbar2, .boton_toolbar3,.boton_iniciar {
  height: 80%;
  margin: 3px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.705);
  display: flex;
  align-items: center;
}

.boton_toolbar1, .boton_toolbar2, .boton_toolbar3{
  width: 60px;
}

.boton_toolbar1 {
  background: url(../img/Icon/buscar.png);
  background-size: cover;
  background-color: white;
}


.boton_toolbar2 {
  background: url(../img/icon/inicio.png);
  background-size: cover;
  background-color: white;
}

.boton_toolbar3 {
  background: url(../img/icon/busqueda.png);
  background-size: cover;
    background-color: white;
}

.boton_iniciar {
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
 
}


.toolbar_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 150px;
 
}


.logo {
  width: auto;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: center;
  background: url(../img/Icon/Logo.png);
  background-size: cover;
}

.saludo{
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 70px;
}

.Container_Producto {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #02022e60;

}

.Cuadro {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 8px 8px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid white;
}

.Cuadro:hover {
  box-shadow: 0px 0px 20px #ffffff;
}

h4{
  margin: 12px 8px;
  color: #fff;
  font-size: 25px;
  width: 100%;
  text-align: center;
  font-family: 'Stardos Stencil', sans-serif;
}

.Productos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 300px;
  height: 350px;
}


.footer {
  height: 20%;
  position: relative;
  left: 0;
  margin-top: 30%;
  margin-bottom: 0%;
  padding: 30px;
  background-color: #f5fafab9;
  color: #0f0f0f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Titulo_f {
  text-align: center;
  color: #0f0f0f;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}

.Social {
  width: 300px;
  height: 70px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 3px;

}

.Red {
  width: 60px;
  height: 60px;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.705);
  border-radius: 40px;
  margin-left: 6px;
}

.Red:nth-child(1) {
  background: url(../img/Icon/whatsapp.png);
  background-color: white;
  background-size: cover;
}

.Red:nth-child(2) {
  background: url(../img/Icon/instagram.png);
  background-color: white;
  background-size: cover;
}

.Red:nth-child(3) {
  background: url(../img/Icon/facebook.png);
  background-color: white;
  background-size: cover;
}

.Red:nth-child(4) {
  background: url(../img/Icon/email.png);
  background-color: white;
  background-size: cover;
}

.Info{
  margin-top: 10px;
}