html, body {
    background-image: url(../img/Icon/IMG-20240315-WA0006.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 80%;
    max-width: 80%; 
    margin: 0 auto; 
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
  }
  
  
  .order-section {
    background-color: #ffffff69;
      flex: 4;
      overflow-y: auto;
      margin-bottom: 20px;
      border-radius: 3px;
      margin-left: 5px;
      margin-right: 5px;
  }
   
  .order-item {
    background-color: #ffffff69; 
      display: flex;
      border: 1px solid #ccc;
      margin-top: 5px;
      margin-bottom: 3px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 4px;
  }
  
  .order-item img {
      background: url(./IMG-20240315-WA0006.jpg);
      background-position: center;
      background-size: cover;
      width: 100px;
      height: 90px;
  }
  
  h4{
    margin-top: 0;
    margin-bottom: 2px;
  }
  
  p{
    color: black;
    margin-bottom: 2px;
    margin-top: 1px;
    font-size: 18px;
  }
  
  .order-item .info {
      flex: 1;
      margin-left: 10px;
  }
  
  .static-section {
    background-color: #ffffffb4; 
    border-radius: 3px;
      flex: 1;
      border: 1px solid #ccc;
      padding: 10px;
      margin-left: 4%;
      margin-right: 4%;
  }
  
  .button-section{
    background-color: beige;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 10px  auto;
    align-content: center;
   text-align: center;
   background-image: linear-gradient(to top, blue, #133ABF, #1882FF,  #7A96F9 );
   color: white;
   font-size: 25px;
  }
  
  .button-section:hover{
    box-shadow: 0px 5px 20px white;
  }