body {
  background-image: url(../img/Icon/fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.formulario__register {
  width: 45%;
  margin: auto;
  padding: 15px;
  padding-left: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formulario__register h2 {
  text-align: center;
  color: #333;
}
.formulario__register form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formulario__register input[type="text"],
.formulario__register input[type="email"],
.formulario__register input[type="password"],
.formulario__register input[type="number"],
.formulario__register select {
  width: calc(100% - 20px); /* Resta el padding y el margen para evitar el desbordamiento */
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block; /* Cambia de flex a block para que tome el ancho completo */
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 30px;
  font-size: medium;
  font-family:'Times New Roman', Times, serif;
}

/* Ajusta el ancho del select para que sea consistente con los otros inputs */
.formulario__register select {
  width: calc(100% - 20px); /* Ajusta el ancho para que sea consistente con los otros inputs */
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 35px;
}

/* Añade estilos responsivos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .formulario__register {
    width: 90%; /* Aumenta el ancho en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .formulario__register {
    width: 95%; 
  }
}

.mt-4{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
}

.formulario__register label {
  font-family:'Times New Roman', Times, serif; /* Cambia la fuente a Helvetica */
  font-size: 20px; /* Establece el tamaño de la fuente a 16px */
  color: black;
  font-weight: bold;
  white-space: nowrap;
}


.Container-Boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-image: linear-gradient(to top, blue, #133ABF, #1882FF,  #7A96F9 );
  color: #ffffff;
  font-size: 25px;
  width: 190px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

button:hover{
  box-shadow: 0px 0px 20px #0228ff;
}
