body {
  background: linear-gradient(to bottom right, pink, lightblue);
  font-family: Arial, sans-serif;
}
.formulario__register {
  width: 45%;
  margin: auto;
  padding: 15px;
  padding-left: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.formulario__register h2 {
  text-align: center;
  color: #333;
}
.formulario__register form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mt-4{
  display: flex;
  justify-content: left; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 40px;
}

.formulario__register label {
  font-family:'Times New Roman', Times, serif; /* Cambia la fuente a Helvetica */
  font-size: 20px; /* Establece el tamaño de la fuente a 16px */
  color: black;
  font-weight: bold;
}
.formulario__register input[type="text"],
.formulario__register input[type="email"],
.formulario__register input[type="password"],
.formulario__register select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 10px;
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
  margin-top: 8px;
  margin-left: 10px;
}

.formulario__register select {
  width: 50%; /* Ajusta este valor al ancho deseado */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 10px;
  width: 35%;
  height: 40px;
}

.Container-Boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-image: linear-gradient(to top, blue, #133ABF, #1882FF,  #7A96F9 );
  color: #ffffff;
  font-size: 25px;
  width: 190px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

button:hover{
  box-shadow: 0px 0px 20px #0228ff;
}
