body {
  background-image: url(Fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}

.login {
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.sidebar {
  height: 100%;
  width: 0;
  /* Modificado para pantallas pequeñas */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
  /* Oculta el botón de cierre por defecto */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.content h2,
.content p {
  text-align: center;
  margin-top: 90px;
}

#product-form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  float: left;
  /* Hace que el formulario flote a la izquierda */
  max-width: 400px;
  /* Establece un ancho máximo para definir su espacio */
  margin-right: 30px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Alinea los elementos al inicio del contenedor */
  margin-left: 420px;
}

.product-card {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  margin-top: 10px;
}

.features-modal {
  max-width: 400px;
  margin: 20px auto;
}

.ProductosBD {
  clear: both;
  /* Limpia los flotantes anteriores */
  padding: 20px;
  margin-top: 20px;
  margin-right: 8px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.container-product {
  margin-bottom: 5px;
}

.cuadro {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  max-width: 300px;
  margin: 15px auto;
  margin-top: 10px;
  margin-left: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  float: left;
}

h3{
  border: solid transparent; 
  border-width: 0px; 
  border-bottom: 2px solid #ffffff; 
  color: white;
}

.cuadro p {
  margin: 10px 0;
}

.btn-danger {
  background-color: #d9534f;
  color: white;
}
.btn-info {
  background-color: #5bc0de;
  color: white;
}
.btn-danger:hover {
  background-color: #c9302c;
}
.btn-info:hover {
  background-color: #31b0d5;
}

@media screen and (max-width: 2000px) {
  body {
    background-position: top;
  }

  .sidebar {
    width: 0;
  }

  .openbtn {
    display: block;
  }
}

@media screen and (min-width: 2000px) {
  .sidebar {
    width: 250px;
    /* Ancho fijo para pantallas grandes */
  }

  .openbtn {
    display: none;
  }
}

@media screen and (max-width: 2000px) {
  .sidebar .closebtn {
    display: block;
    /* Muestra el botón de cierre en pantallas pequeñas */
  }
}