body {
    background-image: url(Fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .login {
    color: aliceblue;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
  
  .sidebar {
    height: 100%;
    width: 0; /* Modificado para pantallas pequeñas */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none; /* Oculta el botón de cierre por defecto */
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    display: block; /* Asegura que el botón esté siempre visible */
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  .content h2, .content p {
    text-align: center;
    margin-top: 90px;
  }
  
  @media screen and (max-width: 2000px) {
    body {
        background-position: top;
    }
    .sidebar {
        width: 0;
    }
    .openbtn {
        display: block;
    }
  }
  
  @media screen and (min-width: 2000px) {
    .sidebar {
        width: 250px; /* Ancho fijo para pantallas grandes */
    }
    .openbtn {
        display: none;
    }
  }
  
  @media screen and (max-width: 2000px) {
    .sidebar .closebtn {
        display: block; /* Muestra el botón de cierre en pantallas pequeñas */
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 80%;
    max-width: 80%; 
    margin: 0 auto; 
    margin-top: 10px;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
  }


  .order-section {
    background-color: #ffffff;
      flex: 4;
      overflow-y: auto;
      margin-bottom: 20px;
      border-radius: 3px;
      margin-left: 5px;
      margin-right: 5px;
  }
   
  .order-item {
    background-color: #ffffff69; 
      display: flex;
      border: 1px solid #ccc;
      margin-top: 5px;
      margin-bottom: 3px;
      margin-left: 15px;
      margin-right: 15px;
      padding: 4px;
  }
  
  .order-item img {
      background: url(./IMG-20240315-WA0006.jpg);
      background-position: center;
      background-size: cover;
      width: 100px;
      height: 90px;
  }
  
  h5{
    margin-top: 0;
    margin-bottom: 2px;
  }
  
  p{
    color: black;
    margin-bottom: 2px;
    margin-top: 1px;
    font-size: 16px;
  }
  
  .order-item .info {
      flex: 1;
      margin-left: 10px;
  }
  
  .static-section {
    background-color: #ffffff; 
    border-radius: 3px;
      flex: 1;
      border: 1px solid #ccc;
      padding: 10px;
      margin-left: 4%;
      margin-right: 4%;
  }
  
  .button-section{
    background-color: beige;
    width: 180px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 10px  auto;
    align-content: center;
   text-align: center;
   background-image: linear-gradient(to top, blue, #133ABF, #1882FF,  #7A96F9 );
   color: white;
   font-size: 25px;
  }
  
  .button-section:hover{
    box-shadow: 0px 5px 20px white;
  }