body {
  background-image: url(Fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}

.login {
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  display: block; /* Asegura que el botón esté siempre visible */
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.content h2, .content p {
  text-align: center;
  margin-top: 90px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-horizontal {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra los elementos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten al cambiar el tamaño de la pantalla */
  padding: 20px;
  margin: 0 auto; /* Centra el contenedor en la pantalla */
  margin-top: 50px; /* Mantiene el margen superior */
  width: 75%;
  max-width: 1000px; /* Establece un ancho máximo para evitar el desbordamiento */
  background-color: #111;
  color: #f1f1f1;
  box-sizing: border-box;
  border-radius: 9px;
}

.form-horizontal div {
  margin: 10px;
  flex: 1;
  min-width: 150px; /* Establece un ancho mínimo para los elementos internos */
}

.botones{
display: flex;
justify-content: center;
}

.form-horizontal input[type="button"] {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 20px;
}

.form-horizontal input[type="button"]:hover {
  background-color: #f1f1f1;
  color: #111;
}

select{
  width: 177px;
  height: 20px;
}

.info-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se ajusten al cambiar el tamaño de la pantalla */
  width: 95%; /* Ancho relativo al contenedor padre */
  max-width: 2000px; /* Establece un ancho máximo para evitar el desbordamiento */
  margin: 0 auto; /* Centra el contenedor en la pantalla */
  margin-top: 20px; /* Mantiene el margen superior */
  box-sizing: border-box;
  border-radius: 9px;
}

.info {
  min-height: 200px;
  width: 100%; /* Ajusta el ancho al contenedor padre */
  margin-top: 20px;
  border: 1px solid #111;
  padding: 20px;
  background-color: #161616;
  color: #f1f1f1;
  overflow: auto;
  border-radius: 9px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

/* Estilos para los encabezados de la tabla */
th {
  background-color: #ffffff;
  color: black;
  padding: 10px;
  text-align: center;
}

.celda-especial {
  background-color: transparent; 
  width: 90px;
}


/* Estilos para las celdas de la tabla */
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

button{
  background-color: #000000;
  height: 35px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #e61d1d;
}

/* Estilos para las filas al pasar el mouse */
tr:hover {
  background-color: #ddd;
}

@media screen and (max-width: 2000px) {
  body {
      background-position: top;
  }
  .sidebar {
      width: 0;
  }
  .openbtn {
      display: block;
  }
}

@media screen and (min-width: 2000px) {
  .sidebar {
      width: 250px; /* Ancho fijo para pantallas grandes */
  }
  .openbtn {
      display: none;
  }
}

@media screen and (max-width: 2000px) {
  .sidebar .closebtn {
      display: block; /* Muestra el botón de cierre en pantallas pequeñas */
  }
}