body {
  background-image: url(Fondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
}

.login {
  color: aliceblue;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.sidebar {
  height: 100%;
  width: 0; /* Modificado para pantallas pequeñas */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none; /* Oculta el botón de cierre por defecto */
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.content h2, .content p {
  text-align: center;
  margin-top: 90px;
}

form {
  width: 300px;
  margin: 0 auto;
}
form input[type="text"], form input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
form input[type="submit"]:hover {
  opacity: 0.8;
}

.container {
  width: 20%; /* Reducir el margen horizontal a 50% */
  margin: auto; /* Centrar la tabla en la página */
}
table {
  width: 75%;
  margin-left: 20%;
  margin-top: 0%;
  border-radius: 10px;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: #f44336;
  border-radius: 8;
}

.center-div {
  display: flex;
  margin-left: 80%;
  margin-top: 90px;
}

.create-user-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#createForm {
  display: none;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  body {
      background-position: top;
  }
  .sidebar {
      width: 0;
  }
  .openbtn {
      display: block;
  }
}

@media screen and (min-width: 1081px) {
  .sidebar {
      width: 250px;
  }
  .openbtn {
      display: none;
  }
}

@media screen and (max-width: 1080px) {
  .sidebar .closebtn {
      display: block;
  }
}
